﻿@model List<WhoCanHelpMe.Domain.Contracts.NewsItem>
@{
    ViewBag.Title = "What is going on here?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Who Can Help Me? allows you to create a profile of your skills, knowledge and experience so that other people within the community can seek your advice.</p>
<h2>Who Can Help Me is Open Source</h2>
<p>Who Can Help Me? is a technology demo, using the following Open Source Frameworks &amp; Tools:</p>
<ul class="about_list">
	<li><a href="http://www.asp.net/mvc/">ASP.NET MVC</a></li> 
	<li><a href="http://www.codeplex.com/MVCContrib/">ASP.NET MVC Contrib</a></li> 
	<li><a href="http://nhforge.org/">NHibernate</a> </li> 
	<li><a href="http://fluentnhibernate.org/">Fluent NHibernate</a></li> 
	<li><a href="http://www.castleproject.org/container/index.html">Castle Windsor</a></li>
	<li><a href="http://automapper.codeplex.com/">AutoMapper</a> </li> 
	<li><a href="http://dotnetopenauth.net/">DotNetOpenAuth</a></li> 
	<li><a href="http://dotlesscss.com/">Less CSS for .NET</a></li> 
	<li><a href="http://github.com/machine/machine.specifications/">Machine.Specifications (MSpec) BDD Framework</a></li> 
	<li><a href="http://www.ayende.com/projects/rhino-mocks.aspx">RhinoMocks</a></li> 
	<li><a href="http://linqtotwitter.codeplex.com/">linq2twitter</a></li> 
</ul> 
<p>The source for Who Can Help Me? is available on BitBucket: <a href="https://bitbucket.org/jon_george1/whocanhelpme">https://bitbucket.org/jon_george1/whocanhelpme</a></p>
<h2>The Development Team</h2>
<p>Who Can Help Me? was originally created by:</p>
<ul class="about_list">
	<li><a href="http://howard.vanrooijen.co.uk/blog">Howard van Rooijen</a> - <a href="http://twitter.com/HowardvRooijen">@@HowardvRooijen</a></li> 
</ul>
<p>This version of Who Can Help Me? was built by:</p>
<ul class="about_list">
	<li><a href="http://jonathangeorge.co.uk/">Jonathan George</a> - <a href="http://twitter.com/jon_george1">@@jon_george1</a></li> 
</ul>

<p>If you want to tweet about Who Can Help Me? please use the hashtag #wchm.</p>
<h3>The latest Development Team buzz...</h3>

@Html.Partial("_NewsHeadlines", this.Model);