﻿@using WhoCanHelpMe.Presentation.Extensions
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Who Can Help Me?</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

    <link href="~/content/styles/css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Stylesheet("site.less")" rel="stylesheet" type="text/css" media="all" />
    <script src="http://code.jquery.com/jquery-1.7.2.min.js" language="javascript" type="text/javascript"></script>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" rightmargin="0">
    <div id="container">
        <div id="hdr">
            <div id="hdr_bar">
            </div>
            <div id="hdr_logo">
                <img src="@Url.Image("logo.png")" alt="" height="45" width="623" />
            </div>
            <div id="hdr_strap">
                <p>
                    helping to find people with the skills you need</p>
            </div>
            <div id="hdr_title">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div id="body">
            <div id="body_content">
                <div>
                    @RenderBody()
                </div>
            </div>
            <div id="body_nav">
                <div id="block-menu-primary-links">
                    <div>
                        <div>
                            @Html.Partial("_Navigation")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ftr">
        </div>
    </div>
    <script src="~/scripts/js" language="javascript" type="text/javascript"></script>
</body>
</html>
