﻿@using (Html.BeginForm("ByTag","Search", FormMethod.Get)) 
{ 
    @Html.TextBox("tagName", "Search", new { style = "clear: both;", onblur = "if(this.value=='') this.value='Search';", onfocus = "if(this.value=='Search') this.value='';", })
}
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("You", "Update", "Profile")</li>
    
    @if (User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Sign Out", "SignOut", "User")</li>
    }

    <li>@Html.ActionLink("About", "Index", "About")</li>
</ul>
