﻿@model List<WhoCanHelpMe.Domain.Contracts.NewsItem>
<ol class="statuses" id="timeline">
    @foreach (var newsItem in Model)
    {
        <li class="hentry status">
            <span class="thumb vcard author">
                <a class="tweet-url profile-pic url" href="@newsItem.AuthorUrl">
                    <img height="48" width="48" src="@newsItem.AuthorPhotoUrl" class="photo fn" alt="@newsItem.Author" />
                </a>
            </span> 
            <span class="status-body">
                <strong>
                    <a title="@newsItem.Author" class="tweet-url screen-name" href="@newsItem.AuthorUrl">@newsItem.Author</a>
                </strong> 
                <span class="entry-content">
                    @Html.Raw(newsItem.Headline)
                </span>
            </span>
        </li>
    }
</ol>
