﻿@model SearchByTagResultsViewModel
@{
    ViewBag.Title = "Et Voila!";
}
<h2>
    You asked for 
    <br />
    '@Model.SearchTerm',
    <br />
    we give you:
</h2>
<ul id="search_results">
    @foreach (var current in Model.Results)
    {
        <li>
            @Html.ActionLink(current.ProfileName, "View", "Profile", new { id = current.ProfileId }, null)
            @current.CategoryName
            @Html.ActionLink(current.Tag, "ByTag", "Search", new { tagName = current.Tag }, null)
        </li>
    }
</ul>
