﻿@{
    ViewBag.Title = "Who goes there?";
}

<h2>Identify yourself!</h2>

@using (Html.BeginForm("Authenticate", "User", new { returnUrl = this.Context.Request.Params["returnUrl"] }, FormMethod.Post, new { id = "openid_form" }))
{
    <input type="hidden" name="action" value="verify" />
    <fieldset>
        <div id="openid_choice">
            <p>Please click your account provider to sign-in:</p>
            <div id="openid_btns"></div>
        </div>
			
        <div id="openid_input_area">
            <input id="openId" name="openId" type="text" value="http://" />
            <input id="openid_submit" type="submit" value="Log in"/>
        </div>
        <noscript>
            <p>OpenID is service that allows you to log-on to many different websites using a single indentity. Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
        </noscript>
    </fieldset>
}
<!-- /Simple OpenID Selector -->