﻿@model WhoCanHelpMe.Presentation.Models.CreateProfileViewModel
@{
    ViewBag.Title = "Hey there stranger!";
}
<h2>
    Tell me about yourself!</h2>
<p>
    You haven't created a profile yet, please supply the following details:</p>

@using (Html.BeginForm("Create", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="formInput">
        @Html.LabelFor(x => x.FormModel.Name) @Html.TextBoxFor(x => x.FormModel.Name)
        @Html.ValidationMessageFor(x => x.FormModel.Name)
    </div>

    <button type="submit">Continue</button>
}