﻿@model UpdateProfileViewModel
@{
    ViewBag.Title = "Show off your 'Guns'";
}
<h2>@Model.Name</h2>

@using (Html.BeginForm("AddAssertion", "Profile", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  @Html.DropDownListFor(x => x.FormModel.CategoryId, Model.Categories)
  @Html.TextBoxFor(x => x.FormModel.Tag)
  @Html.ValidationMessageFor(x => x.FormModel.Tag)
  <button type="submit">Add</button>
}

<ul id="skill_list">
    @foreach (var assertion in Model.Assertions)
    {
        <li>
            <span>@assertion.CategoryName</span>
            @Html.ActionLink(assertion.Tag, "ByTag", "Search", new { tagName = assertion.Tag }, null)

            @using (Html.BeginForm("DeleteAssertion", "Profile", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("assertionId", assertion.Id)
                <button type="submit">Delete</button>
            }
        </li>
    }
</ul>
