﻿@model ViewProfileViewModel
@{
    ViewBag.Title = "Is this who you're after?";
}

<h2>@Model.Name</h2>

<ul>
    @foreach (var assertion in Model.Assertions)
    {
	    <li>
		    <span>@assertion.CategoryName</span>
            @Html.ActionLink(assertion.Tag, "ByTag", "Search", new { tagName = assertion.Tag }, null)
	    </li>
    }
</ul>